.container {
	border: 10px solid red;
	width: 1200px;
}

.box {
	width: 200px;
	color: white;
	margin: 10px;
}

.box1 {
	background-color: red;
}
.box2 {
	background-color: black;
}
.box3 {
	background-color: gray;
}
.box4 {
	background-color: orange;
}
.box5 {
	background-color: gold;
}
.box6 {
	background-color: silver;
}
.box7 {
	background-color: blue;
}
.box8 {
	background-color: cyan;
}
.box9 {
	background-color: violet;
}
.box10 {
	background-color: brown;
}
.box11 {
	background-color: purple;
}
.box12 {
	background-color: green;
}
